@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

video {
    outline: none;
}

.video{
    position: relative;
    width: 100%;
}

.block {
    position: absolute;
    top: 30%;
    left: 35%;


.alert-light{
    border-color: #bfbfbf;
}

.form-section {
    background:#fff;
    padding: 20px;
    border: 1px solid silver;
    box-sizing: border-box;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    -moz-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
}

.form-section > h2 {
  color: #b38a22;
  margin-bottom: 10px;
}

.btn.wrap-normal{
white-space: normal;
}
#playlist{
            list-style: none;
        }
        #playlist li a{
            color:black;
            text-decoration: none;
        }
        #playlist .current-song a{
            color:blue;
        }