<div th:fragment="header">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="/">GHOST</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation" wfd-id="118">
            <span class="navbar-toggler-icon" wfd-id="64"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample06" wfd-id="55">
            <ul class="navbar-nav mr-auto" wfd-id="57">
                <li class="nav-item active" wfd-id="62">
                    <a class="nav-link" href="/blogs">Blog<span class="sr-only" wfd-id="63">(current)</span></a>
                </li>
                <li class="nav-item active" wfd-id="62">
                    <a class="nav-link" href="/moves">Move<span class="sr-only" wfd-id="63">(current)</span></a>
                </li>
                <li class="nav-item active" wfd-id="62">
                    <a class="nav-link" href="/music">Music<span class="sr-only" wfd-id="63">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>