<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пост</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <main class="container mt-5">
        <div class="row" wfd-id="1">

            <div class="col-md-8" wfd-id="9">
                <div class="text-dark" wfd-id="10">
                    <a href="/posts">Вернуться назад</a>
                    <h1 th:text="${post.title}"/>
                    <p th:text="${post.text}">
                    <br>
                    <hr>
                    <span th:text="'Публикация: ' + ${post.data}" class="text-muted" wfd-id="11"/>
                    <p><b>Категория: </b><mark th:text="${post.sections[0]}"/></p>
                    <p><b>Категория: </b><mark th:text="${post.author.username}" /></p>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="border border-success p-3 mb-3 rounded" wfd-id="4">
                    <h3><b>Интересные статьи</b></h3>
                    <p>
                    </p><ul wfd-id="5">
                    <li wfd-id="8">
                        <a class="nav-link text-dark" href="http://www.firststeps.ru/linux/general1.html" target="_blank">Программирование под Linux</a>
                    </li>
                    <li wfd-id="7">
                        <a class="nav-link text-dark" href="https://ubuntu.ru" target="_blank">Ubuntu по русски.</a>
                    </li>
                    <li wfd-id="6">
                        <a class="nav-link text-dark" href="http://ubuntism.ru/terminal-commands-for-linux/" target="_blank">Убунтизм для пользователя</a>
                    </li>
                </ul>
                    <p></p>
                </div>
                <div class="p-3 mb-3" wfd-id="3">
                    <img src="/image/Python.png" width="200">
                </div>
                <div class="bg-dark text-white p-3 mb-3" wfd-id="2">
                    <p>@ СПРАВОЧНИК @<br>   © <i>Сайт является личным справочником владельца :) </i>
                </div>
            </aside>

        </div>
    </main>

    <footer th:replace="blocks/footer :: footer"></footer>
</body>

<script src="/scripts/jquery-3.4.1.slim.min.js"></script>
<script src="/scripts/popper.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
</html>