<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кино</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <main class="container mt-5">
        <div class="row">

            <div class="col-md-8">
                <div class="text-dark">
                    <a href="/moves">Вернуться назад</a>
                    <h1>Морской бой</h1>
                    <img src="image/Battleship.jpg" width="200">
                    <p></p><p>Мы посылаем сигналы в космос и ждем ответа. Но уверены ли мы, что хотим его получить? Что если пришельцы потенциально опасны? В 2009 году на конференции в Вашингтоне астронавт Эдгар Митчелл, побывавший на Луне, сделал сенсационное заявление о существовании внеземной жизни. Теперь мы знаем, контакт не просто возможен, он неизбежен!</p><p></p>
                    <video controls="controls" preload="metadata" class="col-md-12">
                        <source src="video/Морской бой. Русский трейлер в HD.mp4" type="video/mp4">
                    </video>

                    <br>
                    <hr>
                    <span class="text-muted">Публикация: 16 ноября 2018 в 09:17:06</span>
                    <p><b>Категория: </b><mark>Боевики</mark></p>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="bg-warning p-3 mb-3 rounded">
                    <h3><b>Интересные статьи</b></h3>
                    <p>
                    </p><ul wfd-id="5">
                    <li wfd-id="13">
                        <a class="nav-link text-dark" href="" target="_blank">Человек-муравей и Оса</a>
                    </li>
                    <li wfd-id="12">
                        <a class="nav-link text-dark" href="" target="_blank">Терминатор: Генезис</a>
                    </li>
                    <li wfd-id="11">
                        <a class="nav-link text-dark" href="" target="_blank">Морской бой</a>
                    </li>
                    <li wfd-id="10">
                        <a class="nav-link text-dark" href="" target="_blank">Пассажиры</a>
                    </li>
                    <li wfd-id="9">
                        <a class="nav-link text-dark" href="" target="_blank">Валериан и город тысячи планет</a>
                    </li>
                    <li wfd-id="8">
                        <a class="nav-link text-dark" href="">Ван Хельсинг</a>
                    </li>
                    <li wfd-id="7">
                        <a class="nav-link text-dark" href="" target="_blank">Джон Картер</a>
                    </li>
                    <li wfd-id="6">
                        <a class="nav-link text-dark" href="" target="_blank">Варкрафт</a>
                    </li>
                </ul>
                    <p></p>
                </div>
                <div class="p-3 mb-3" wfd-id="3">
                    <br> <br>
                    <img src="image/Video.png" width="200">
                    <br><br>
                </div>
                <div class="bg-dark text-white p-3 mb-3" wfd-id="2">
                    <p>@ ПОРТФОЛИО @<br>   © <i>Сайт является демонстрационным</i></p>
                </div>
            </aside>

        </div>
    </main>
</body>

<script src="scripts/jquery-3.4.1.slim.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
</html>